/* Color Scheme - https://coolors.co/ffffff-00171f-003459-007ea7-00a8e8 */
/* #ffffff -- White
#00171F -- Rich Black
#003459 -- Prussian Blue
#007EA7 -- Cerulean
#00A8E8 -- Vivid Cerulean */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    color: #00A8E8;
    text-decoration: none;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    width: 80%;
}

input[type=search] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    font-family: sans-serif;
    font-size: 20px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 3px solid #007EA7;
    margin-top: 10px;
    padding-left: 5px;
}

.modal-cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    z-index: 1040;
    display: none;
}

.modal-cover.modal-cover-active {
    display: block;
}

.modal-container {
    z-index: 1050;
    position: fixed;
    border-radius: 10px;
    background: #ffffff;
    width: 350px;
    min-height: 500px;
    left: 50%;
    top: 20%;
    margin-left: -175px;
    display: none;
}

.modal-container.modal-container-active {
    display: block;
}

i {
    background: linear-gradient(-45deg, #003459, #007EA7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
    font-size: 32px;
}

.modal-container__image {
    padding-top: 10px;
    text-align: center;
    background: linear-gradient(-45deg, #003459, #007EA7);
    height: 250px;
    border-radius: 6px 6px 0 0;
}

.modal-container__image-headline {
    color: white;
    font-size: 24px;
    font-weight: 300;
}

.modal-container__demo {
    padding: 10px;
    font-size: 20px;
}

.modal-container__form-demo {
    padding: 10px;
    font-size: 16px;
}

.modal-container__buttons {
    padding: 5px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.prof {
    border-radius: 100%;
}

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(-45deg, #003459, #007EA7);
    height: 75px;
}

.nav-logo {
    position: absolute;
    top: 21px;
    font-size: 32px;
    left: 10px;
}

.nav-links {
    position: absolute;
    right: 10px;
    top: 13px;
}

.nav-item__icon {
    background: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
    font-size: 48px;
}

.nav-item__icon:hover {
    background: #007EA7;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}

.nav-logo a, .nav-item a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
}

.contact {
    border: 1px solid #00171F;
    width: auto;
    padding: 10px;
    text-align: center;
    margin: 0px 5px 10px 5px;
    border-radius: 5px;
}

.contact:hover {
    background: linear-gradient(-45deg, #003459, #007EA7);
    color: #ffffff;
}

button {
    width: 100px;
    height: 40px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.button-Submit {
    background-color: #007EA7;
}

.button-Submit:hover {
    background-color: #ffffff;
    color: #007EA7;
    border: 2px solid #007EA7;
}

.button-Edit {
    background-color: #007EA7;
}

.button-Edit:hover {
    background-color: #ffffff;
    color: #007EA7;
    border: 2px solid #007EA7;
}

.button-Delete {
    background-color: #00171F;
}

.button-Delete:hover {
    background-color: #ffffff;
    color: #00171F;
    border: 2px solid #00171F;
}

label {
    font-size: 16px;
}

input[type=text], input[type=email], input[type=tel] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #00171F;
    width: 100%;
    font-size: 24px;
}

select {
    background: linear-gradient(-45deg, #003459, #007EA7);;
    color: white;
    border: none;
    font-size: 18px;
    height: 29px;
    padding: 5px;
    min-width: 25%;
    cursor: pointer;
    margin-bottom: 10px;
}

.form {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #00171F;
}